# SDG 11.2.1 (mh edit)

## 11.2.1
Proportion of population that has convenient access to public transport, by sex, age and persons with disabilities 

**11.2.1 is under 11.2**

## 11.2
By 2030, provide access to safe, affordable, accessible and sustainable transport systems for all, improving road safety, notably by expanding public transport, with special attention to the needs of those in vulnerable situations, women, children, persons with disabilities and older persons 


Method
<ol>
1) get public transport location data - NAPTAN a) Clean it if necessary
2) get population location data -  LSOA from ONS
3) use Fiona to read location data
4) limit to one or two locations, e.g. London and a more rural area
5) draw Euclidean Buffers around LSOA polygon centre points
6) find number of public transport stops in the polygon with “points in polygons” approach
</ol>

Requirements: 
* rtree you need to install rtree 'pip install rtree', but on on Linux Ubuntu/Mint 18.04 you may have to install rtree from apt instead of pip: sudo apt install python3-rtree
* pandas
* geopandas
* matplotlib ??
* requests
* shapely.geometry import Point, Polygon
* pyproj

In [1]:
%load_ext pycodestyle_magic
%pycodestyle_on

In [2]:
import pandas as pd
import geopandas as gpd
import os
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon
import requests
import json
import pyproj

In [3]:
def geo_df_from_csv(path_to_csv, geom_x, geom_y, delim='\t', crs ="EPSG:4326"):
    """Function to create a Geo-dataframe from a csv file.
        The process goes via Pandas
    
        Arguments:
            path_to_csv (string): path to the txt/csv containing geo data
                to be read
            delimiter (string): the seperator in the csv file e.g. "," or "\t" 
            geom_x (string):name of the column that contains the longitude data
            geom_y (string):name of the column that contains the latitude data
            
        Returns:
            Geopandas Dataframe
            """
    pd_df = pd.read_csv(path_to_csv, delim)
    geometry = [Point(xy) for xy in zip(pd_df[geom_x], pd_df[geom_y])]
    geo_df = gpd.GeoDataFrame(pd_df, geometry=geometry)
    geo_df.crs = crs
    return geo_df


stops_path = (os.path.join
              (os.getcwd(),
               'data',
               'Stops.txt'))

stops_geo_df = (geo_df_from_csv(path_to_csv=stops_path,
                            delim='\t',
                            geom_x='stop_lon',
                            geom_y='stop_lat'))
stops_geo_df.sample(15)

,stop_id,stop_code,stop_name,stop_lat,stop_lon,stop_url,vehicle_type,geometry
333406,5810AWC50956,swagwmw,"Loughor, St David`s Close",51.66411,-4.06329,NaN,3.0,POINT (-4.06329 51.66411)
361481,639006262,23237276,"Aberdeen, Osborne Place (NW-bound)",57.14662,-2.11839,NaN,3.0,POINT (-2.11839 57.14662)
253869,43000521301,nwmgpjwp,"Warren Farm, Hawthorn Rd Shops",52.54096,-1.88455,NaN,3.0,POINT (-1.88455 52.54096)
246039,4200F153201,warapwad,"Lillington, Cubbington Road (Adj)",52.30213,-1.52957,NaN,3.0,POINT (-1.52957 52.30213)
368972,6500K9295,34346473,"Kirkcaldy, East Vows Walk (adj)",56.09194,-3.16219,NaN,3.0,POINT (-3.16219 56.09194)
328198,5540AWZ26317,cpyajgm,"Aberbargoed, Village Hall",51.69512,-3.22536,NaN,3.0,POINT (-3.22536 51.69512)
349075,6160754,65234823,"Shawhead, Rosehall Avenue (At)",55.84804,-4.02117,NaN,3.0,POINT (-4.02117 55.84804)
344949,6130668,46824584,"Greenock, Baxter Street (opp)",55.94068,-4.72774,NaN,3.0,POINT (-4.72774 55.94068)
323526,5410AWD70381,ynyadpj,"Benllech, Breeze Hill",53.31591,-4.22628,NaN,3.0,POINT (-4.22628 53.31591)
343877,6110463,65423743,"High Gallowhill, Parkburn Avenue (After)",55.92949,-4.16222,NaN,3.0,POINT (-4.16222 55.92949)
316592,5220CMX16537,crmajdm,"Bronwydd, Gelli Aur",51.89966,-4.29766,NaN,3.0,POINT (-4.29766 51.89966)
79244,15003805001,esxdtdpg,"Great Notley, Cut Hedge (adj)",51.85679,0.53138,NaN,3.0,POINT (0.53138 51.85679)
38555,0800FWZ38598,corawtgd,"Whipsiderry, Gull Rock Hotel (opp)",50.42780,-5.05412,NaN,3.0,POINT (-5.05412 50.42780)
235996,40004409115B,surdjatd,"Reigate, Wray Common (adj)",51.24521,-0.18754,NaN,3.0,POINT (-0.18754 51.24521)
342341,60903223,45245929,"Mosspark, Tealing Avenue (opp)",55.84421,-4.34642,NaN,3.0,POINT (-4.34642 55.84421)

1:65: E251 unexpected spaces around keyword / parameter equals
4:1: W293 blank line contains whitespace
8:79: W291 trailing whitespace
11:1: W293 blank line contains whitespace
28:29: E128 continuation line under-indented for visual indent
29:29: E128 continuation line under-indented for visual indent
30:29: E128 continuation line under-indented for visual indent

In [32]:
# # Load Greater London polygon and check CRS is 4326

def geo_df_from_geospatialfile(path_to_file, crs="EPSG:4326"):
    
    """Function to create a Geo-dataframe from a csv file.
        The process goes via Pandas
    
        Arguments:
            path_to_file (string): path to the geojson, shp and other geospatial data files

        Returns:
            Geopandas Dataframe
            """
    geo_df = gpd.read_file(path_to_file)
    if geo_df.crs != crs:
        geo_df = geo_df.to_crs("EPSG:4326")
    return geo_df
        

greater_london_path = ((os.path.join
                                (os.getcwd(),
                                 'data',
                                 'greater_london.geojson')))

greater_london_geo_df = geo_df_from_geospatialfile(greater_london_path)

greater_london_geo_df.head()

,id,EER13CD,EER13CDO,EER13NM,geometry
0,E15000007,E15000007,07,London,"MULTIPOLYGON (((-0.32111 51.44603, -0.32520 51..."

4:1: W293 blank line contains whitespace
INFO:pycodestyle:4:1: W293 blank line contains whitespace
7:1: W293 blank line contains whitespace
INFO:pycodestyle:7:1: W293 blank line contains whitespace
9:80: E501 line too long (91 > 79 characters)
INFO:pycodestyle:9:80: E501 line too long (91 > 79 characters)
18:1: W293 blank line contains whitespace
INFO:pycodestyle:18:1: W293 blank line contains whitespace
21:33: E127 continuation line over-indented for visual indent
INFO:pycodestyle:21:33: E127 continuation line over-indented for visual indent
28:1: W391 blank line at end of file
INFO:pycodestyle:28:1: W391 blank line at end of file

In [5]:
def find_points_in_poly(geo_df, polygon_obj):
    """Find points in polygon using geopandas' spatial join.
        Then drops all rows where the point is not in the polygon
        (based on column index_right not being NaN). Finally it
        drop all column names from that were created in the join,
        leaving only the columns of the original geo_df
        
        Arguments:
            geo_df (string): name of a geo pandas dataframe
            polygon_obj (string): a geopandas dataframe with a polygon column
            
        Returns:
            A geodata frame with the points inside the supplied polygon"""
    wanted_cols = geo_df.columns.to_list()
    joined_df = (gpd.sjoin
                 (geo_df,
                  polygon_obj,
                  how='left',
                  op='within'))
    filtered_df = (joined_df
                   [joined_df
                    ['index_right'].notna()])
    filtered_df = filtered_df[wanted_cols]
    return filtered_df


# Creating a Geo Dataframe of only stops in London
london_stops_geo_df = (find_points_in_poly
                       (geo_df=stops_geo_df,
                        polygon_obj=greater_london))

london_stops_geo_df.head()

,stop_id,stop_code,stop_name,stop_lat,stop_lon,stop_url,vehicle_type,geometry
76301,150012891S,esxjdtjp,"Grange Hill, Stradbroke Park (adj)",51.60482,0.07290,NaN,3.0,POINT (0.07290 51.60482)
79876,150042023001,esxatmga,"Grange Hill, Tudor Crescent (adj)",51.60665,0.08303,NaN,3.0,POINT (0.08303 51.60665)
122161,210021803340,hrtajatj,"Batchworth Heath, Mount Vernon Hospital (nr)",51.61460,-0.45066,NaN,3.0,POINT (-0.45066 51.61460)
123431,210021001322,hrtgtdad,"Dancers Hill, The Shires (nr)",51.66453,-0.20933,NaN,3.0,POINT (-0.20933 51.66453)
134927,2400107805,kntjwmdj,"Knockholt, Scotts Lodge (opp)",51.30058,0.08625,NaN,3.0,POINT (0.08625 51.30058)

7:1: W293 blank line contains whitespace
11:1: W293 blank line contains whitespace

In [36]:
# Building the map of Local Authority Districts

birmingham_map_path = (os.path.join
                   (os.getcwd(),
                    'data',
                    'Birmingham_merged_census_BoundaryData',
                    'england_oac_2011.shp'))

birmingham_census_geo_df = geo_df_from_geospatialfile(birmingham_map_path)

birmingham_census_geo_df.head()

,oac_sub_gr,oac_group_,oac_super_,oac_sub__1,oac_group,oac_supe_1,name,label,code,geometry
0,Student Digs,Students Around Campus,Cosmopolitans,2a2,2a,2,None,E08000025E02001890E01008987E00045661,E00045661,"POLYGON ((-1.93326 52.47749, -1.93306 52.47740..."
1,Student Digs,Students Around Campus,Cosmopolitans,2a2,2a,2,None,E08000025E02001890E01008987E00045660,E00045660,"POLYGON ((-1.93339 52.47755, -1.93342 52.47753..."
2,Student Digs,Students Around Campus,Cosmopolitans,2a2,2a,2,None,E08000025E02001922E01009290E00047058,E00047058,"POLYGON ((-1.92711 52.43909, -1.92711 52.43909..."
3,Student Digs,Students Around Campus,Cosmopolitans,2a2,2a,2,None,E08000025E02001922E01009289E00047057,E00047057,"POLYGON ((-1.93329 52.44496, -1.93325 52.44490..."
4,Student Digs,Students Around Campus,Cosmopolitans,2a2,2a,2,None,E08000025E02001922E01009286E00047060,E00047060,"POLYGON ((-1.92913 52.44189, -1.92911 52.44189..."

4:20: E128 continuation line under-indented for visual indent
INFO:pycodestyle:4:20: E128 continuation line under-indented for visual indent

In [42]:
def get_geo_dataset(filename, url, localpath):
    """Fetches a geodataset from a web resource and saves it to the local data/ directory
    
    Args:
        filename (string): the name of file as it should be saved locally
        url (string): URL of the web resource containing 
        localpath (string):"""
    file = requests.get(url).content
    return file

# url = "https://raw.githubusercontent.com/ONSvisual/topojson_boundaries/master/LSOA.json"
birmingham_json_url = 'https://mapit.mysociety.org/area/2514/children' 

birmingahm_geo_dataset = get_geo_dataset('birmingham.json', birmingham_json_url, './data/')

# path_to_local_file = os.path.join('data', 'birmingham.json')

# with open(path_to_local_file, 'ab') as geo_file:
#             geo_file.write(birmingahm_geo_dataset.content)
    
# # data = requests.get(url)
# # file_path = os.path.join('data', 'LSOA.json')

# # #     gdf = gpd.GeoDataFrame(geo_file.json())

# # # # df = pd.read_json(io.BytesIO(file.content))

# # # gdf = gpd.GeoDataFrame(open(file_path).json())

# # # type(file_path)
# # # file_path
# # df = gpd.read_file(open(file_path, 'rb'), driver='GeoJSON')

birmingahm_geo_dataset

b'{"151905": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151905, "codes": {"gss": "E05011118", "unit_id": "185"}, "name": "Acocks Green", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151888": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151888, "codes": {"gss": "E05011119", "unit_id": "44822"}, "name": "Allens Cross", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151917": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151917, "codes": {"gss": "E05011120", "unit_id": "63"}, "name": "Alum Rock", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151943": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151943, "codes": {"gss": "E05011121", "unit_id": "22"}, "name": "Aston", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151933": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151933, "codes": {"gss": "E05011122", "unit_id": "21"}, "name": "Balsall Heath West", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151891": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151891, "codes": {"gss": "E05011123", "unit_id": "94"}, "name": "Bartley Green", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151899": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151899, "codes": {"gss": "E05011124", "unit_id": "89"}, "name": "Billesley", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151942": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151942, "codes": {"gss": "E05011125", "unit_id": "44846"}, "name": "Birchfield", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151935": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151935, "codes": {"gss": "E05011127", "unit_id": "17"}, "name": "Bordesley Green", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151907": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151907, "codes": {"gss": "E05011126", "unit_id": "44815"}, "name": "Bordesley & Highgate", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151932": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151932, "codes": {"gss": "E05011128", "unit_id": "44824"}, "name": "Bournbrook & Selly Park", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151893": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151893, "codes": {"gss": "E05011129", "unit_id": "87"}, "name": "Bournville & Cotteridge", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151901": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151901, "codes": {"gss": "E05011130", "unit_id": "90"}, "name": "Brandwood & King\'s Heath", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151923": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151923, "codes": {"gss": "E05011131", "unit_id": "24"}, "name": "Bromford & Hodge Hill", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151947": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151947, "codes": {"gss": "E05011132", "unit_id": "44839"}, "name": "Castle Vale", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151931": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151931, "codes": {"gss": "E05011133", "unit_id": "44825"}, "name": "Druids Heath & Monyhull", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151896": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151896, "codes": {"gss": "E05011134", "unit_id": "85"}, "name": "Edgbaston", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151920": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151920, "codes": {"gss": "E05011135", "unit_id": "68"}, "name": "Erdington", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151885": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151885, "codes": {"gss": "E05011136", "unit_id": "44820"}, "name": "Frankley Great Park", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151913": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151913, "codes": {"gss": "E05011137", "unit_id": "44835"}, "name": "Garretts Green", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151921": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151921, "codes": {"gss": "E05011138", "unit_id": "44812"}, "name": "Glebe Farm & Tile Cross", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151918": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151918, "codes": {"gss": "E05011139", "unit_id": "44837"}, "name": "Gravelly Hill", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151903": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151903, "codes": {"gss": "E05011140", "unit_id": "44829"}, "name": "Hall Green North", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151900": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151900, "codes": {"gss": "E05011141", "unit_id": "16"}, "name": "Hall Green South", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151940": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151940, "codes": {"gss": "E05011142", "unit_id": "141"}, "name": "Handsworth", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151915": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151915, "codes": {"gss": "E05011143", "unit_id": "140"}, "name": "Handsworth Wood", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151895": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151895, "codes": {"gss": "E05011144", "unit_id": "99"}, "name": "Harborne", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151936": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151936, "codes": {"gss": "E05011145", "unit_id": "44832"}, "name": "Heartlands", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151934": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151934, "codes": {"gss": "E05011146", "unit_id": "44826"}, "name": "Highter\'s Heath", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151938": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151938, "codes": {"gss": "E05011147", "unit_id": "44845"}, "name": "Holyhead", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151889": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151889, "codes": {"gss": "E05011148", "unit_id": "91"}, "name": "King\'s Norton North", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151930": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151930, "codes": {"gss": "E05011149", "unit_id": "44821"}, "name": "King\'s Norton South", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151924": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151924, "codes": {"gss": "E05011150", "unit_id": "144"}, "name": "Kingstanding", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151898": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151898, "codes": {"gss": "E05011151", "unit_id": "84"}, "name": "Ladywood", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151886": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151886, "codes": {"gss": "E05011152", "unit_id": "44813"}, "name": "Longbridge & West Heath", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151941": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151941, "codes": {"gss": "E05011153", "unit_id": "44831"}, "name": "Lozells", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151902": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151902, "codes": {"gss": "E05011154", "unit_id": "44814"}, "name": "Moseley", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151880": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151880, "codes": {"gss": "E05011155", "unit_id": "44816"}, "name": "Nechells", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "55095": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 55095, "codes": {"ons": "00CN001", "gss": "E04000142", "unit_id": "41562"}, "name": "New Frankley in Birmingham", "country": "E", "type_name": "Civil parish/community", "generation_low": 12, "country_name": "England", "type": "CPC"}, "151939": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151939, "codes": {"gss": "E05011156", "unit_id": "44830"}, "name": "Newtown", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151897": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151897, "codes": {"gss": "E05011157", "unit_id": "44844"}, "name": "North Edgbaston", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151887": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151887, "codes": {"gss": "E05011158", "unit_id": "44843"}, "name": "Northfield", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151916": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151916, "codes": {"gss": "E05011159", "unit_id": "143"}, "name": "Oscott", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151881": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151881, "codes": {"gss": "E05011160", "unit_id": "142"}, "name": "Perry Barr", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151946": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151946, "codes": {"gss": "E05011161", "unit_id": "44838"}, "name": "Perry Common", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151919": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151919, "codes": {"gss": "E05011162", "unit_id": "67"}, "name": "Pype Hayes", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151894": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151894, "codes": {"gss": "E05011163", "unit_id": "98"}, "name": "Quinton", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151884": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151884, "codes": {"gss": "E05011164", "unit_id": "44819"}, "name": "Rubery & Rednal", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151922": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151922, "codes": {"gss": "E05011165", "unit_id": "26"}, "name": "Shard End", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151912": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151912, "codes": {"gss": "E05011166", "unit_id": "62"}, "name": "Sheldon", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151910": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151910, "codes": {"gss": "E05011167", "unit_id": "44833"}, "name": "Small Heath", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151914": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151914, "codes": {"gss": "E05011168", "unit_id": "83"}, "name": "Soho & Jewellery Quarter", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151909": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151909, "codes": {"gss": "E05011169", "unit_id": "186"}, "name": "South Yardley", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151906": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151906, "codes": {"gss": "E05011170", "unit_id": "44828"}, "name": "Sparkbrook & Balsall Heath East", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151904": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151904, "codes": {"gss": "E05011171", "unit_id": "44827"}, "name": "Sparkhill", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151890": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151890, "codes": {"gss": "E05011172", "unit_id": "44823"}, "name": "Stirchley", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151945": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151945, "codes": {"gss": "E05011173", "unit_id": "23"}, "name": "Stockland Green", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "148736": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 148736, "codes": {"gss": "E04012653", "unit_id": "44694"}, "name": "Sutton Coldfield", "country": "E", "type_name": "Civil parish/community", "generation_low": 28, "country_name": "England", "type": "CPC"}, "151927": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151927, "codes": {"gss": "E05011174", "unit_id": "70"}, "name": "Sutton Four Oaks", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151879": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151879, "codes": {"gss": "E05011175", "unit_id": "44818"}, "name": "Sutton Mere Green", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151928": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151928, "codes": {"gss": "E05011176", "unit_id": "44841"}, "name": "Sutton Reddicap", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151929": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151929, "codes": {"gss": "E05011177", "unit_id": "44842"}, "name": "Sutton Roughley", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151926": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151926, "codes": {"gss": "E05011178", "unit_id": "66"}, "name": "Sutton Trinity", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151882": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151882, "codes": {"gss": "E05011179", "unit_id": "69"}, "name": "Sutton Vesey", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151883": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151883, "codes": {"gss": "E05011180", "unit_id": "42451"}, "name": "Sutton Walmley & Minworth", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151925": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151925, "codes": {"gss": "E05011181", "unit_id": "44840"}, "name": "Sutton Wylde Green", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151908": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151908, "codes": {"gss": "E05011182", "unit_id": "44817"}, "name": "Tyseley & Hay Mills", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151944": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151944, "codes": {"gss": "E05011183", "unit_id": "44836"}, "name": "Ward End", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151892": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151892, "codes": {"gss": "E05011184", "unit_id": "95"}, "name": "Weoley & Selly Oak", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "England", "type": "MTW"}, "151911": {"parent_area": 2514, "generation_high": 39, "all_names": {}, "id": 151911, "codes": {"gss": "E05011185", "unit_id": "44834"}, "name": "Yardley East", "country": "E", "type_name": "Metropolitan district ward", "generation_low": 33, "country_name": "Eng

2:80: E501 line too long (89 > 79 characters)
INFO:pycodestyle:2:80: E501 line too long (89 > 79 characters)
3:1: W293 blank line contains whitespace
INFO:pycodestyle:3:1: W293 blank line contains whitespace
6:57: W291 trailing whitespace
INFO:pycodestyle:6:57: W291 trailing whitespace
11:80: E501 line too long (90 > 79 characters)
INFO:pycodestyle:11:80: E501 line too long (90 > 79 characters)
12:1: E305 expected 2 blank lines after class or function definition, found 1
INFO:pycodestyle:12:1: E305 expected 2 blank lines after class or function definition, found 1
12:71: W291 trailing whitespace
INFO:pycodestyle:12:71: W291 trailing whitespace
14:80: E501 line too long (91 > 79 characters)
INFO:pycodestyle:14:80: E501 line too long (91 > 79 characters)
20:1: W293 blank line contains whitespace
INFO:pycodestyle:20:1: W293 blank line contains whitespace
35:1: W391 blank line at end of file
INFO:pycodestyle:35:1: W391 blank line at end of file

In [ ]:
# Filter for ward

ward_stops_geo_df = gpd.sjoin(london_stops_geo_df, Brent, how='left', op='within')
ward_stops_geo_df.head()

# Drop all rows where id (from polygon) is NaN, that is, where the point is not in the polygon

ward_stops_geo_df = ward_stops_geo_df[ward_stops_geo_df['index_right'].notna()]
ward_stops_geo_df

# Drop all row names from join (so we can reuse)

ward_stops_geo_df = ward_stops_geo_df[stops_geo_df.columns.to_list()]
ward_stops_geo_df

In [ ]:
## Making a centroid 
centrepoint = ward_polygon.centroid

fig, ax = plt.subplots()
_ = ward_polygon.plot(ax=ax, facecolor='gold')
_ = ward_stops_geo_df.plot(ax=ax, color='red', markersize=2, alpha=0.1)
_ = centrepoint.plot(ax=ax, color='pink', markersize=45) ## added the centroid into the plot
plt.tight_layout()

## great, this works!