### Development Method

1. get public transport location data - NAPTAN a) Clean it if necessary
2. get population location data -  LSOA from ONS
3. use Fiona to read location data
4. limit to one or two locations, e.g. London and a more rural area
5. draw Euclidean Buffers around LSOA polygon centre points
6. find number of public transport stops in the polygon with “points in polygons” approach

In [11]:
%load_ext pycodestyle_magic
%pycodestyle_on

In [3]:
import pandas as pd
import geopandas as gpd
import os
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon
import requests
import json
import pyproj

In [4]:
def geo_df_from_csv(path_to_csv, geom_x, geom_y, delim='\t', crs ="EPSG:4326"):
    """Function to create a Geo-dataframe from a csv file.
        The process goes via Pandas
    
        Arguments:
            path_to_csv (string): path to the txt/csv containing geo data
                to be read
            delimiter (string): the seperator in the csv file e.g. "," or "\t" 
            geom_x (string):name of the column that contains the longitude data
            geom_y (string):name of the column that contains the latitude data
            
        Returns:
            Geopandas Dataframe
            """
    pd_df = pd.read_csv(path_to_csv, delim)
    geometry = [Point(xy) for xy in zip(pd_df[geom_x], pd_df[geom_y])]
    geo_df = gpd.GeoDataFrame(pd_df, geometry=geometry)
    geo_df.crs = crs
    return geo_df


stops_path = (os.path.join
              (os.getcwd(),
               'data',
               'Stops.txt'))

stops_geo_df = (geo_df_from_csv(path_to_csv=stops_path,
                            delim='\t',
                            geom_x='stop_lon',
                            geom_y='stop_lat'))
stops_geo_df.sample(15)

,stop_id,stop_code,stop_name,stop_lat,stop_lon,stop_url,vehicle_type,geometry
199391,340001869OUT,oxfgdwmg,"Wootton, The Duke of Marlborough PH (o/s)",51.86896,-1.37794,NaN,3.0,POINT (-1.37794 51.86896)
79923,150044006002,esxajpmt,"Jaywick, Tyndale Drive (opp)",51.78601,1.11825,NaN,3.0,POINT (1.11825 51.78601)
357341,6290LV01,95624982,"Kirkton, Village Primary School (after)",55.88673,-3.54526,NaN,3.0,POINT (-3.54526 55.88673)
333772,5810AWO26316,swagamj,"Cwmdu, Weig Gardens",51.64107,-3.96506,NaN,3.0,POINT (-3.96506 51.64107)
191210,3300BA0083,ntsdwtaw,"Misterton, Stockwith Road (S-bound)",53.43546,-0.82856,NaN,3.0,POINT (-0.82856 53.43546)
375910,6700713113,45328532,"Skerray, Free Church (nr)",58.52955,-4.28117,NaN,3.0,POINT (-4.28117 58.52955)
190197,3290YYA01072,32901072,"Poppleton Park, Kyle Way (opp)",53.97830,-1.13682,NaN,3.0,POINT (-1.13682 53.97830)
288452,460000239,wildwjpa,"Chitterne, The Kings Arms (E-bound)",51.19372,-2.01561,NaN,3.0,POINT (-2.01561 51.19372)
169663,2800TX00144,NaN,"Birkenhead, Exmouth Street (Taxi Rank)",53.38955,-3.03049,NaN,21.0,POINT (-3.03049 53.38955)
86401,1600GLC048,glogjgmg,"Southrop, Southrop School (E-bound)",51.72977,-1.70966,NaN,3.0,POINT (-1.70966 51.72977)
104565,1800EH21371,MANDAJGJ,"Ridge Hill, Church Walk/Hartshead Ave (nr)",53.48912,-2.05854,NaN,3.0,POINT (-2.05854 53.48912)
7115,021013567,ahladmgm,"Hockliffe, Birchs Close (adj)",51.92861,-0.58258,NaN,3.0,POINT (-0.58258 51.92861)
258189,43000878301,nwmpajtd,"Burnt Tree, Watson's Green Rd (after)",52.50947,-2.06688,NaN,3.0,POINT (-2.06688 52.50947)
3825,0180BAC30503,bthdpmt,"Lansdown, Blathwayt Arms (NW-bound)",51.41556,-2.39460,NaN,3.0,POINT (-2.39460 51.41556)
90733,160000112,glogtjgw,"Whitecroft, Saunders Green Junction (opp)",51.75390,-2.56162,NaN,3.0,POINT (-2.56162 51.75390)

In [5]:
def geo_df_from_geospatialfile(path_to_file, crs="EPSG:4326"):
    
    """Function to create a Geo-dataframe from a geospatial (geojson, shp) file.
        The process goes via Pandas
    
        Arguments:
            path_to_file (string): path to the geojson, shp and other geospatial data files

        Returns:
            Geopandas Dataframe
            """
    geo_df = gpd.read_file(path_to_file)
    if geo_df.crs != crs:
        geo_df = geo_df.to_crs("EPSG:4326")
    return geo_df

In [6]:
def find_points_in_poly(geo_df, polygon_obj):
    """Find points in polygon using geopandas' spatial join.
        Then drops all rows where the point is not in the polygon
        (based on column index_right not being NaN). Finally it
        drop all column names from that were created in the join,
        leaving only the columns of the original geo_df
        
        Arguments:
            geo_df (string): name of a geo pandas dataframe
            polygon_obj (string): a geopandas dataframe with a polygon column
            
        Returns:
            A geodata frame with the points inside the supplied polygon"""
    wanted_cols = geo_df.columns.to_list()
    joined_df = (gpd.sjoin
                 (geo_df,
                  polygon_obj,
                  how='left',
                  op='within'))
    filtered_df = (joined_df
                   [joined_df
                    ['index_right'].notna()])
    filtered_df = filtered_df[wanted_cols]
    return filtered_df

In [11]:
greater_london_path = ((os.path.join
                                (os.getcwd(),
                                 'data',
                                 'greater_london.geojson')))

greater_london_geo_df = geo_df_from_geospatialfile(greater_london_path)

greater_london_geo_df.head()

# Creating a Geo Dataframe of only stops in London
london_stops_geo_df = (find_points_in_poly
                       (geo_df=stops_geo_df,
                        polygon_obj=greater_london_geo_df))

london_stops_geo_df.head()

,stop_id,stop_code,stop_name,stop_lat,stop_lon,stop_url,vehicle_type,geometry
76301,150012891S,esxjdtjp,"Grange Hill, Stradbroke Park (adj)",51.60482,0.07290,NaN,3.0,POINT (0.07290 51.60482)
79876,150042023001,esxatmga,"Grange Hill, Tudor Crescent (adj)",51.60665,0.08303,NaN,3.0,POINT (0.08303 51.60665)
122161,210021803340,hrtajatj,"Batchworth Heath, Mount Vernon Hospital (nr)",51.61460,-0.45066,NaN,3.0,POINT (-0.45066 51.61460)
123431,210021001322,hrtgtdad,"Dancers Hill, The Shires (nr)",51.66453,-0.20933,NaN,3.0,POINT (-0.20933 51.66453)
134927,2400107805,kntjwmdj,"Knockholt, Scotts Lodge (opp)",51.30058,0.08625,NaN,3.0,POINT (0.08625 51.30058)

In [63]:
# Birmingham Census Data

birmingham_map_path = (os.path.join
                   (os.getcwd(),
                    'data',
                    'Birmingham_merged_census_BoundaryData',
                    'england_oac_2011.shp'))

birmingham_census_geo_df = geo_df_from_geospatialfile(birmingham_map_path)

In [70]:
# There is a problem with the "label" column as it contains multiple ONS GSS codes for each observation


def insert_space_middle(str):
    "A function to insert a space into a string after every 9th digit"
    return " ".join([s[i*9:i*9+9] for i in range(len(s)//9)])

birmingham_census_geo_df.label = birmingham_census_geo_df.label.apply(insert_space_middle)

# birmingham_census_geo_df.label.str.split(expand=True)
birmingham_census_geo_df.label.explode()

0       E08000025 E02001922 E01009286 E00047060
1       E08000025 E02001922 E01009286 E00047060
2       E08000025 E02001922 E01009286 E00047060
3       E08000025 E02001922 E01009286 E00047060
4       E08000025 E02001922 E01009286 E00047060
                         ...
3218    E08000025 E02001922 E01009286 E00047060
3219    E08000025 E02001922 E01009286 E00047060
3220    E08000025 E02001922 E01009286 E00047060
3221    E08000025 E02001922 E01009286 E00047060
3222    E08000025 E02001922 E01009286 E00047060
Name: label, Length: 3223, dtype: object

In [88]:
def get_and_save_geo_dataset(url, localpath, filename):
    """Fetches a geodataset in json format from a web resource and 
        saves it to the local data/ directory and returns the json 
        as a dict into memory
    
    Args:
        filename (string): the name of file as it should be saved locally
        url (string): URL of the web resource where json file is hosted
        localpath (string): path to folder where json is to be saved locally
    Returns:
        json data as dict"""
    file = requests.get(url).json()
    full_path = os.path.join(localpath, filename)
    with open(full_path, 'w') as dset:
        json.dump(file, dset)
    return file


birmingham_json_url = 'https://mapit.mysociety.org/area/2514/children' 

birmingahm_gsscode_dataset = get_and_save_geo_dataset(birmingham_json_url,
                                                  './data/',
                                                  "birmingahm_gsscode_dataset.json")

{'151905': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151905,
  'codes': {'gss': 'E05011118', 'unit_id': '185'},
  'name': 'Acocks Green',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151888': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151888,
  'codes': {'gss': 'E05011119', 'unit_id': '44822'},
  'name': 'Allens Cross',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151917': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151917,
  'codes': {'gss': 'E05011120', 'unit_id': '63'},
  'name': 'Alum Rock',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151943': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151943,
  'codes': {'gss': 'E05011121', 'unit_id': '22'},
  'name': 'Aston',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151933': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151933,
  'codes': {'gss': 'E05011122', 'unit_id': '21'},
  'name': 'Balsall Heath West',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151891': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151891,
  'codes': {'gss': 'E05011123', 'unit_id': '94'},
  'name': 'Bartley Green',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151899': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151899,
  'codes': {'gss': 'E05011124', 'unit_id': '89'},
  'name': 'Billesley',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151942': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151942,
  'codes': {'gss': 'E05011125', 'unit_id': '44846'},
  'name': 'Birchfield',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151935': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151935,
  'codes': {'gss': 'E05011127', 'unit_id': '17'},
  'name': 'Bordesley Green',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151907': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151907,
  'codes': {'gss': 'E05011126', 'unit_id': '44815'},
  'name': 'Bordesley & Highgate',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151932': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151932,
  'codes': {'gss': 'E05011128', 'unit_id': '44824'},
  'name': 'Bournbrook & Selly Park',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151893': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151893,
  'codes': {'gss': 'E05011129', 'unit_id': '87'},
  'name': 'Bournville & Cotteridge',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151901': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151901,
  'codes': {'gss': 'E05011130', 'unit_id': '90'},
  'name': "Brandwood & King's Heath",
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151923': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151923,
  'codes': {'gss': 'E05011131', 'unit_id': '24'},
  'name': 'Bromford & Hodge Hill',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151947': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151947,
  'codes': {'gss': 'E05011132', 'unit_id': '44839'},
  'name': 'Castle Vale',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151931': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151931,
  'codes': {'gss': 'E05011133', 'unit_id': '44825'},
  'name': 'Druids Heath & Monyhull',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151896': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151896,
  'codes': {'gss': 'E05011134', 'unit_id': '85'},
  'name': 'Edgbaston',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151920': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151920,
  'codes': {'gss': 'E05011135', 'unit_id': '68'},
  'name': 'Erdington',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151885': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151885,
  'codes': {'gss': 'E05011136', 'unit_id': '44820'},
  'name': 'Frankley Great Park',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151913': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151913,
  'codes': {'gss': 'E05011137', 'unit_id': '44835'},
  'name': 'Garretts Green',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151921': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151921,
  'codes': {'gss': 'E05011138', 'unit_id': '44812'},
  'name': 'Glebe Farm & Tile Cross',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151918': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151918,
  'codes': {'gss': 'E05011139', 'unit_id': '44837'},
  'name': 'Gravelly Hill',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151903': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151903,
  'codes': {'gss': 'E05011140', 'unit_id': '44829'},
  'name': 'Hall Green North',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151900': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151900,
  'codes': {'gss': 'E05011141', 'unit_id': '16'},
  'name': 'Hall Green South',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151940': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151940,
  'codes': {'gss': 'E05011142', 'unit_id': '141'},
  'name': 'Handsworth',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151915': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151915,
  'codes': {'gss': 'E05011143', 'unit_id': '140'},
  'name': 'Handsworth Wood',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151895': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151895,
  'codes': {'gss': 'E05011144', 'unit_id': '99'},
  'name': 'Harborne',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151936': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151936,
  'codes': {'gss': 'E05011145', 'unit_id': '44832'},
  'name': 'Heartlands',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151934': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151934,
  'codes': {'gss': 'E05011146', 'unit_id': '44826'},
  'name': "Highter's Heath",
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151938': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151938,
  'codes': {'gss': 'E05011147', 'unit_id': '44845'},
  'name': 'Holyhead',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151889': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151889,
  'codes': {'gss': 'E05011148', 'unit_id': '91'},
  'name': "King's Norton North",
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151930': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151930,
  'codes': {'gss': 'E05011149', 'unit_id': '44821'},
  'name': "King's Norton South",
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151924': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151924,
  'codes': {'gss': 'E05011150', 'unit_id': '144'},
  'name': 'Kingstanding',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151898': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151898,
  'codes': {'gss': 'E05011151', 'unit_id': '84'},
  'name': 'Ladywood',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151886': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151886,
  'codes': {'gss': 'E05011152', 'unit_id': '44813'},
  'name': 'Longbridge & West Heath',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151941': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151941,
  'codes': {'gss': 'E05011153', 'unit_id': '44831'},
  'name': 'Lozells',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151902': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151902,
  'codes': {'gss': 'E05011154', 'unit_id': '44814'},
  'name': 'Moseley',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151880': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151880,
  'codes': {'gss': 'E05011155', 'unit_id': '44816'},
  'name': 'Nechells',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '55095': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 55095,
  'codes': {'ons': '00CN001', 'gss': 'E04000142', 'unit_id': '41562'},
  'name': 'New Frankley in Birmingham',
  'country': 'E',
  'type_name': 'Civil parish/community',
  'generation_low': 12,
  'country_name': 'England',
  'type': 'CPC'},
 '151939': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151939,
  'codes': {'gss': 'E05011156', 'unit_id': '44830'},
  'name': 'Newtown',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151897': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151897,
  'codes': {'gss': 'E05011157', 'unit_id': '44844'},
  'name': 'North Edgbaston',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151887': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151887,
  'codes': {'gss': 'E05011158', 'unit_id': '44843'},
  'name': 'Northfield',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151916': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151916,
  'codes': {'gss': 'E05011159', 'unit_id': '143'},
  'name': 'Oscott',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151881': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151881,
  'codes': {'gss': 'E05011160', 'unit_id': '142'},
  'name': 'Perry Barr',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151946': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151946,
  'codes': {'gss': 'E05011161', 'unit_id': '44838'},
  'name': 'Perry Common',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151919': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151919,
  'codes': {'gss': 'E05011162', 'unit_id': '67'},
  'name': 'Pype Hayes',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151894': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151894,
  'codes': {'gss': 'E05011163', 'unit_id': '98'},
  'name': 'Quinton',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151884': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151884,
  'codes': {'gss': 'E05011164', 'unit_id': '44819'},
  'name': 'Rubery & Rednal',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151922': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151922,
  'codes': {'gss': 'E05011165', 'unit_id': '26'},
  'name': 'Shard End',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151912': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151912,
  'codes': {'gss': 'E05011166', 'unit_id': '62'},
  'name': 'Sheldon',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151910': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151910,
  'codes': {'gss': 'E05011167', 'unit_id': '44833'},
  'name': 'Small Heath',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151914': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151914,
  'codes': {'gss': 'E05011168', 'unit_id': '83'},
  'name': 'Soho & Jewellery Quarter',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151909': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151909,
  'codes': {'gss': 'E05011169', 'unit_id': '186'},
  'name': 'South Yardley',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151906': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151906,
  'codes': {'gss': 'E05011170', 'unit_id': '44828'},
  'name': 'Sparkbrook & Balsall Heath East',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151904': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151904,
  'codes': {'gss': 'E05011171', 'unit_id': '44827'},
  'name': 'Sparkhill',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151890': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151890,
  'codes': {'gss': 'E05011172', 'unit_id': '44823'},
  'name': 'Stirchley',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151945': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151945,
  'codes': {'gss': 'E05011173', 'unit_id': '23'},
  'name': 'Stockland Green',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '148736': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 148736,
  'codes': {'gss': 'E04012653', 'unit_id': '44694'},
  'name': 'Sutton Coldfield',
  'country': 'E',
  'type_name': 'Civil parish/community',
  'generation_low': 28,
  'country_name': 'England',
  'type': 'CPC'},
 '151927': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151927,
  'codes': {'gss': 'E05011174', 'unit_id': '70'},
  'name': 'Sutton Four Oaks',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151879': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151879,
  'codes': {'gss': 'E05011175', 'unit_id': '44818'},
  'name': 'Sutton Mere Green',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151928': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151928,
  'codes': {'gss': 'E05011176', 'unit_id': '44841'},
  'name': 'Sutton Reddicap',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151929': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151929,
  'codes': {'gss': 'E05011177', 'unit_id': '44842'},
  'name': 'Sutton Roughley',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151926': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151926,
  'codes': {'gss': 'E05011178', 'unit_id': '66'},
  'name': 'Sutton Trinity',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151882': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151882,
  'codes': {'gss': 'E05011179', 'unit_id': '69'},
  'name': 'Sutton Vesey',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151883': {'parent_area': 2514,
  'generation_high': 40,
  'all_names': {},
  'id': 151883,
  'codes': {'gss': 'E05011180', 'unit_id': '42451'},
  'name': 'Sutton Walmley & Minworth',
  'country': 'E',
  'type_name': 'Metropolitan district ward',
  'generation_low': 33,
  'country_name': 'England',
  'type': 'MTW'},
 '151925': {'parent_area': 2514,

In [98]:
# Trying to read the LSOA for UK via a json but failing
LSOA_url = "https://raw.githubusercontent.com/ONSvisual/topojson_boundaries/master/LSOA.json"
LSOA_data = get_and_save_geo_dataset(url=LSOA_url, 
                         localpath='./data/',
                         filename='LSOA_data.json')

In [108]:
# Getting the Lower Super Output Area for the UK into a dataframe
uk_LSOA_shp_file = "Lower_Layer_Super_Output_Areas__December_2011__Boundaries_EW_BGC.shp"
full_path = os.path.join(os.getcwd(), "data", "LSOA_shp", uk_LSOA_shp_file)
uk_LSOA_df = geo_df_from_geospatialfile(path_to_file=full_path)

In [92]:
# geo_df_from_geospatialfile(os.path.join
#                            (os.getcwd(),
#                             'data',
#                             'birmingham_geo_dataset.json'))


# Manipulating the Birmingham df
# transposing
# splitting the "codes" column into "gss" and "unit_id"
# setting "id" as the index
    
birmingham_df = pd.DataFrame.from_dict(birmingahm_gsscode_dataset).T
gss_code_cols = pd.DataFrame.from_dict(birmingahm_gsscode_dataset).T.codes.apply(pd.Series).drop("ons", axis=1) 
birmingham_df = birmingham_df.join(gss_code_cols).drop(["codes", "all_names"], axis=1) 
birmingham_df.set_index('id', inplace=True)

In [120]:
birmingham_df.head()

,parent_area,generation_high,name,country,type_name,generation_low,country_name,type,gss,unit_id
id,,,,,,,,,,
151905,2514,40,Acocks Green,E,Metropolitan district ward,33,England,MTW,E05011118,185
151888,2514,40,Allens Cross,E,Metropolitan district ward,33,England,MTW,E05011119,44822
151917,2514,40,Alum Rock,E,Metropolitan district ward,33,England,MTW,E05011120,63
151943,2514,40,Aston,E,Metropolitan district ward,33,England,MTW,E05011121,22
151933,2514,40,Balsall Heath West,E,Metropolitan district ward,33,England,MTW,E05011122,21

In [119]:
uk_LSOA_df.head()

,FID,LSOA11CD,LSOA11NM,LSOA11NMW,Age_Indica,Shape__Are,Shape__Len,geometry
0,1,E01001019,Croydon 044B,Croydon 044B,0,1.515854e+06,8362.659636,"POLYGON ((-0.12763 51.31428, -0.12746 51.31367..."
1,2,E01000001,City of London 001A,City of London 001A,0,3.439074e+05,3682.439418,"POLYGON ((-0.09726 51.52158, -0.09649 51.52028..."
2,3,E01001020,Croydon 044C,Croydon 044C,0,9.354317e+05,7236.272525,"POLYGON ((-0.12254 51.30867, -0.12172 51.30775..."
3,4,E01001021,Croydon 044D,Croydon 044D,0,5.237812e+06,12160.534720,"POLYGON ((-0.12799 51.30705, -0.12513 51.30561..."
4,5,E01000002,City of London 001B,City of London 001B,0,5.834740e+05,3910.387238,"POLYGON ((-0.08810 51.51941, -0.08927 51.51752..."

In [154]:
#Getting just the Birmingham LSOA
just_birmingham_LSOA = uk_LSOA_df[uk_LSOA_df.LSOA11NM.str.contains("Birmingham")]

#Trying to create a birmingham polygon
just_birmingham_geom = just_birmingham_LSOA.drop(["FID","LSOA11CD","LSOA11NMW","Age_Indica", "Shape__Are","Shape__Len","LSOA11NM"], axis=1)
just_birmingham_geom.city = "birmingham"
just_birmingham_geom.head()

                                               geometry
7851  POLYGON ((-1.80539 52.52865, -1.80656 52.52555...
7853  POLYGON ((-1.79769 52.51934, -1.79594 52.51904...
7855  POLYGON ((-1.80051 52.51941, -1.79903 52.51669...
8652  POLYGON ((-1.81042 52.47026, -1.80946 52.47009...
8653  POLYGON ((-1.82822 52.46908, -1.82638 52.46869...

In [21]:
## Making a centroid 
centrepoint = ward_polygon.centroid

fig, ax = plt.subplots()
_ = ward_polygon.plot(ax=ax, facecolor='gold')
_ = ward_stops_geo_df.plot(ax=ax, color='red', markersize=2, alpha=0.1)
_ = centrepoint.plot(ax=ax, color='pink', markersize=45) ## added the centroid into the plot
plt.tight_layout()

## great, this works!

NameError: name 'ward_polygon' is not defined

1:1: E266 too many leading '#' for block comment
1:21: W291 trailing whitespace
7:57: E261 at least two spaces before inline comment
7:58: E262 inline comment should start with '# '
7:80: E501 line too long (92 > 79 characters)
10:1: E266 too many leading '#' for block comment